@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h5 class="text-center">Spruch des Tages</h5>
        <p class="text-center">
            <!-- Bild -->
        </p>
        <blockquote class="text-center">
            <cite class="lead"><!-- Spruch --></cite>
        </blockquote>
        <p></p>
        <p class="text-right">
            <small>
                <span><!-- AutorName --></span> - <span><!-- Beschreibung--></span>
                <br />
                <span>
                    <!-- Geburtsdatum -->
                </span>
            </small>
        </p>
    </div>
</div>
