@model IEnumerable<Sdt.Domain.Entities.Autor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index With Paging</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>

<vc:sdt-summary></vc:sdt-summary>


<partial name="_AutorList" model="Model" />
